{% extends "base_login/base.html" %}
{% load staticfiles %}
{% block password_reset_form %}
<html lang="en">
    <title>{% block title %}reset password{% endblock title %} </title>
<div class="limiter">
    <div class="container-login100" style="background-image: url('/static/images_login/bg-01.jpg');">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33" >
            <form class="login100-form validate-form flex-sb flex-w" method="POST">
                {% csrf_token %}
                {{form.non_field_errors}}
                <span class="login100-form-title p-b-53">
                    {{'reset your password'|upper}}
                </span>
                <div class="p-t-31 p-b-9">
						{{forms.email.errors}}
						<span class="txt1">Email</span>
				</div>
                <div class="wrap-input100 validate-input" data-validate = "Username is required">
                    {{form.email}}
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                        reset password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>
{% endblock password_reset_form %}